 
      <div class="col-md-4 col-xs-6">
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <strong><%= product.price %></strong>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div><!-- END COL -->
